langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
langchain-groq
arxiv
wikipedia